html,body {
    height:100%;
    margin:0;
    background-image: url("bg.png");
    background-size: 100%;
    background-repeat: repeat-y;
    
}
.container{
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 100%;  
    height: auto !important;  
    height: 100%;  
    margin: 0 auto -80px;
    
}
.myheader {
    height: 120px;
    border-bottom: 2px solid;
}
.myfooter {
    height:80px;   
    clear:both; 
    border-top: 2px solid;
    font-size: 22px;
}
.img-logo {
    margin-top: 20px;
    width: 400px;
    margin-left: 20px;
}
h1{
    margin-left: 40px;
}
a {
    color: #000;
}
a:hover{
    color: #00cc33;
}
.form-horizontal{
    margin-left: 40px;
    width: 350px;
    border: 2px solid #00cc33;
    border-radius: 10px;
}
.form-horizontal .form-group {
    margin-top: 10px;
    padding-right: 10px;
}
.btn-info {
    color: #000;
    background-color: #00cc33;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info{
    background-color: #009933;
}
.inputCrea{
    border: 2px solid #00cc33;
    height: 32px;
}
form{
    margin-left: 40px;
    margin-top: 10px;
}
.imgTable{
    width:35px;
    height: 35px;
}
.imgTable:hover{
    opacity: 0.5;
}
.centrato{
    text-align: center;
}
th{
    text-align: center;
}
.table{
    margin-top: 15px;
}
.table-bordered>tbody>tr>td{
    border: 1px solid #00cc33;
}
.table-bordered>thead>tr>th{
    border: 1px solid #00cc33;
}
.logout{
    margin-top: -5px;
    float: right;
    margin-right: 40px;
    font-size: 20px;
}
.bottoneScegli> button{
    background-color: red;
}
.foto img{
    margin-top: 10px;
    margin-left: 20px;
    height: 300px;
    width: 350px;
    border: 1px solid #00cc33;
}
.alert {
    width: 335px;
    margin-left: 19px;
    margin-right: 18px;
    margin-bottom: -3px;
    padding: 7px;
    text-align: center;
}
.cercautente{
    float: right;
    margin-right: 100px;
    border: 2px solid #00cc33;
    border-radius: 10px;
    margin-top : -250px;
}
.cercautente form{
    float:left;
    margin: 10px;
}
.cercautente table{
    float:left;
    margin-left:10px;
    margin-bottom: 10px;
    border-left: 1px solid #6699ff;
    border-right: 1px solid #6699ff;
    border-bottom: 1px solid #6699ff;
    margin-top: -10px;
    width: 155px;    
}
h2{
   text-align: center;
}
.cercaHome{
    float:left;
    margin-left:363px;
    margin-bottom: 10px;
    border-left: 1px solid #6699ff;
    border-right: 1px solid #6699ff;
    border-bottom: 1px solid #6699ff;
    margin-top: -38px;
    width: 155px;  
}
.form form-inline {
    margin-left: 10px;
}
.listaCommenti{
    margin-top: 10px;
    margin-left: 30px;
    background-color: #cccccc;
    border: 1px solid #000;
    width: 355px;
}
.eliminaFoto{
    border: 1px solid #cccccc;
    position: absolute;
    width: 35px;
    height: 35px;
    margin-left: 325px;
    margin-top: 14px;
    font-size: 20px;
    color: red;
    background-color: transparent;
}
.eliminaFoto:hover{
    opacity: 0.7;
}
.noFoto{
    font-size: 20px;
    border: 2px solid #00cc33;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    width: 250px;
    text-align: center;
}
#commento{
    width: 300px;
    height: 33px;
}