<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="menu-navbar">
            <ul class="nav navbar-nav">
                <li><a href="#/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="#/creaAlbum"><span class="glyphicon glyphicon-folder-open"></span> Crea Album</a></li>
                <li><a>Ricerca utente:</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" placeholder="username" ng-model="lettere" ng-keyup="listaNomi(lettere)" />
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>            
        </div>
    </div>    
</nav>
<div class="col-md-8">
    <div ng-show="mostraUtenti">
    <table class="table table-hover cercaHome">
        <tr ng-repeat="nomeUtente in nomiUtenti">
            <td><a href="#/loginAnonimo/{{nomeUtente.username}}">{{nomeUtente.username}}</a></td>
        </tr>
    </table> 
    </div>
    <table class="table table-bordered centrato">
        <thead>
            <tr>
                <th>Album</th>
                <th>Aggiungi foto</th>
                <th>Visualizza immagini</th>
                <th>Cambia visibilità</th>
                <th>Elimina album</th>
                <th>Lascia un commento</th>
            </tr>    
        </thead>
        <tr ng-repeat="album in lista">
            <td>{{album.nome}}</td>
            <td><a href="#/uploadFoto/{{album.nome}}"><img class="imgTable" src="img/aggiungi.png" alt="aggiungi"/></a></td>
            <td><a href="#/visualizzaFoto/{{album.nome}}"><img class="imgTable" src="img/visualizza.png" alt="visualizza"/></a></td>
            <td>{{album.proprieta}} <a ng-click="cambiaProprieta(album);"><img class="imgTable" src="img/private-icon.png" alt="cambia" /></a></td>
            <td><img class="imgTable" src="img/elimina.png" alt="elimina"/></td>
            <td><a href="#/lasciaCommento/{{album.nome}}"><img src="img/foto.jpg" alt="foto" class="imgTable"></a></td>
        </tr>
    </table>
</div>

