<div class="logout">
    <a href="#/login">Return to login</a>
</div>
<div class="col-md-5">
<h1>Album dell'utente {{utente}}</h1>    
<table class="table table-bordered centrato">
    <thead>
        <tr>
            <th>Album</th>
            <th>Visualizza foto</th>
        </tr>    
    </thead>
    <tr ng-repeat="album in albums">
            <td>{{album.nome}}</td>
            <td><a href="#/visualizzaFoto/{{album.nome}}"><img src="img/foto.jpg" alt="foto" class="imgTable"></a></td>
        </tr>
</table>
</div>   