<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="menu-navbar">
            <ul class="nav navbar-nav">
                <li><a href="#/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>            
        </div>
    </div>    
</nav>

<div>
    <h1>Inserire il file da caricare</h1>
    <form>
        <input type="file" file-model="myFile"/><br/>
        <button class="btn btn-success" ng-click="uploadFile()">Salva</button>
    </form>
</div>

