<div>
    <div class="logout" ng-show="mostraLogout();">
        <a href="#/home"><span class="glyphicon glyphicon-home"></span> Home</a>
        <a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
    </div>
    <div class="logout" ng-hide="mostraLogout()">
        <a href="#/loginAnonimo"><span class="glyphicon glyphicon-home"></span> Home</a>
    </div>
    <div ng-repeat ="foto in listaF">
        <div class="foto" >
            <button class="eliminaFoto" ng-click="eliminaSingleFoto(foto.nome);" ng-show="mostraElimina"><span class="glyphicon glyphicon-trash"></span></button><img src="../{{foto.nome}}" alt="foto +{{foto.nome}}">
        </div>  
    </div>
    <div class="noFoto" ng-show="mostraErrFoto">{{messaggioFoto}}</div>
    <form class="form form-inline" ng-show="mostraLogout();">
            <h3>Lascia Commento</h3>

            <div class="form-group">
                <input type="text" name="commento" id="commento" ng-model="commento.testoCommento" />
                <button type="submit" class="btn btn-info" ng-click="inviaCommento(commento.testoCommento)">Invia</button>
            </div>    
    </form>
    <div ng-repeat="commento in commenti" class="listaCommenti">
        <label>{{commento.utente.username}}</label>
        <p>{{commento.testoCommento}}</p>
    </div> 
</div>    
