<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="menu-navbar">
            <ul class="nav navbar-nav">
                <li><a href="#/home" ng-show="mostraLogout();"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="#" ng-hide="mostraLogout();"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="logout()" ng-show="mostraLogout();"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>            
        </div>
    </div>    
</nav>
<div>
    <div ng-repeat="foto in listaF">
        <div class="box">
            <button class="eliminaFoto" ng-click="eliminaSingleFoto(foto.nome);" ng-show="mostraElimina"><span class="glyphicon glyphicon-trash"></span></button><img src="../{{foto.nome}}" alt="foto +{{foto.nome}}">
        </div> 
    </div>
    <div class="noFoto" ng-show="mostraErrFoto">{{messaggioFoto}}</div>
    <div class="after-box">
        <form class="form form-inline" ng-show="mostraLogout();">
            <h3>Lascia Commento</h3>
            <div class="form-group">
                <input type="text" name="commento" id="commento" ng-model="commento.testoCommento" />
                <button type="submit" class="btn btn-success" ng-click="inviaCommento(commento.testoCommento)">Invia</button>
            </div>    
        </form>
        <div ng-repeat="commento in commenti" class="listaCommenti">
            <label>{{commento.utente.username}}</label>
            <p>{{commento.testoCommento}}</p>
        </div>
    </div>
</div> 